<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="PIP Einstellungen">
        <setting label="Oben" type="bool" id="top" default="true"/>
        <setting label="Links" type="bool" id="left" default="true"/>
        <setting label="Abstand links/rechts" type="number" id="xgap" default="10"/>
        <setting label="Abstand oben/unten" type="number" id="ygap" default="110"/>
        <setting label="Bildbreite" type="number" id="width" default="280"/>
        <setting label="Bildhöhe" type="number" id="height" default="160"/>
    </category>
    <category label="Tvheadend Server">
        <setting label="IP Adresse" type="ipaddress" id="ipaddress" default="127.0.0.1"/>
        <setting label="Port" type="number" id="port" default="9981"/>
        <setting type="sep"/>
        <setting label="Benutzername" type="text" id="username" default=""/>
        <setting label="Password" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
    </category>
</settings>